.container {
    display: grid;
    place-content: center;
    margin: 20px auto;
}

.container_guesses {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 2fr;
    margin: 20px auto;
    max-width: 25%;
}

label {
    font-weight: bold;
    background-color: #fafafa;
    border-radius: 1px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2px;
    padding: 10px;
    text-align: center;
    opacity: 0;
}

.correct {
    background-color: #96C797;
    color: white;
}

.container_form {
    display: grid;
    place-content: center;
    grid-template-columns: 5fr 1fr;
    margin: 10px auto;
    max-width: 30%;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-start: 1;
    grid-column-end: 4;
}

.card {
    background-color: #fafafa;
    display: grid;
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: visible;
    transition: transform 0.3s, box-shadow 0.3s;
    place-content: center;
}

#card_pieces {
    background-color: #2d99d9;  /* Blue */
    color: white;
}

#card_name {
    background-color: #ffdc73;
}

#card_birth {
    background-color: #e54b4e; /* Red */
    color: white;
}

#card_portrait {
    background-color: #fafafa;
    place-content: center;
}

.card-content {
    padding: 10px;
    place-content: center;
    opacity: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

button {
    font-weight: bold;
    border-radius: 1px;
    overflow: visible;
    transition: transform 0.3s, box-shadow 0.3s;
    background: #ffffff;
    border: 1px solid #ddd;
    color: #333;
    display: inline-block;
    margin-left: 5px;
}

button:hover {
    background: #e8e8e8;
}

.box {
    width: 30px; /* Set the width of the square */
    height: 30px; /* Set the height of the square */
    border: 1px solid black; /* Optional: Add a border */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #ffffff; /* Set the background color of the square */
    display: inline-block; /* Ensures the square does not take up a full line */
    margin: auto 20px;
}
